.container {
  width: 30%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.changeContainer {
  width: 50%;
  height: auto;
  margin-top: 4px;
  margin-bottom: 20px;
}
.field {
  font-size: 14px;
  width: 98%;
  height: 32px;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}
.title {
  display: block;
  text-align: left;
  cursor: pointer;
}
.errorMessage {
  margin: 4px;
  font-size: 12px;
  color: rgb(215, 49, 49);
}
