.container {
    width: 60em;
    margin: 0 auto;
    min-height: 87vh;
    padding-top: 6em;
}

.container h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
}

.container span {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0;
    display: block;
}

.container span a {
    color: rgba(var(--fe0, 0, 55, 107), 1);
    text-decoration: none;
}