.container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: #052f56;
}
.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 40px;
  margin-left: 20px;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.createMenu {
  position: relative;
  border-radius: 20px;
}
.createButton {
  position: relative;
  width: 74px;
  height: 24px;
  background-color: white;
  border: solid 1px white;
  border-radius: 20px;
  color: #052f56;
  cursor: pointer;
  font-weight: bold;
}
.createButton:hover {
  color: white;
  background-color: #052f56;
}
.menu {
  position: absolute;
  top: 100%;
  width: 74px;
  height: auto;
  background-color: white;
  border-radius: 20px;
}
.employeeTaskButtons {
  width: 100%;
  background-color: white;
  border: solid 2px #052f56;
  color: #052f56;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
}
.employeeTaskButtons:hover {
  color: white;
  background-color: #052f56;
}
